/* The Main nav bar */
#navBar{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
	background:#0abab5;
	width:100%;
	height:48px;
	}


/* Survey Maker Title */
#title{
    color:#fed929;
    background-color:#0abab5;
    border: none;
    position: fixed;
    left: 7%;
    top: 0%;
    display:inline;
    position: fixed;
    padding: 8px;
    font-size: 24;
   
 
}


/* ADD Survey link  */
.linkOne{
    position: fixed;
    left: 73%;
    top: 1%;
    background-color: #fed929;
    color: white;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display:inline;   
}

.linkOne:hover, a:active {
    background-color:#fed929;
}

/* Notifications button*/
.notifications {
    background-color:#0abab5;
    color: #fed929;
    padding: 4px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    position: fixed;
    left: 85%;
    top: 2%;
    display:inline;
}


/* Dropdown User Button */
.dropbtn {
    position: fixed;
    background-color: #0abab5;
    color:#fed929 ;
    padding: 4px;
    font-size: 18;
    border: none;
    cursor: pointer;
    display: inline;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: fixed;
    left: 90%;
    top: 2%;
    display: inline;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:#fed929;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn  {
    background-color: #fed928;
}



footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
	background:#0abab5;
	width:100%;
	height:80px;
	}

#footerText{
    text-align: center;
    color:#fed929;
    font-size: 14;
    
}