

.navbar{
    
background:#0abab5; 
}
.badge-notify{
   background:#fed929;
   position:relative;
   top: -10px;
   left: -5px;

}

.navbar-brand{
    position: fixed;
    left: 10%;
    top: 0%;
    display:inline;
    position: fixed;
    padding: 12px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;

}
.navbar i ,.navbar .caret{
     color: #fed929;
}
.navbar-brand:hover{
    color: #ffffff;
}

.linkOne{
    position: fixed;
    left: -130%;
    top: 1%;
    background-color: #fed929;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display:inline;
    border-radius: 2px;
}


.info{
    position: relative;
    top: 50%;
    right: 90px;
    font-size: 18px;
}
.notifications{
    position: relative;
    top: 80%;
    right: 110px;
}

.modal .title{
    background: #0abab5;
    color: white;
    text-align: center;
    font-size: 22px;
}


.footer{
    padding-top: 10px;
    background:#0abab5;
    width:100%;
    height:80px;
}

#footerText{
    text-align: center;
    color:#ffffff;
    font-size: 14;
    font-weight: bold;
    
}
