body{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif
}

.survey-container{
    margin-top: 50px;
}

.survey-stat{
    background-color: white;
    -webkit-box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.65);
    box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.65);
}

.stat-header{
    width: 100%;
    background-color: #0abab5;
    padding-top: 5px;
    padding-bottom: 1px;
    margin-bottom: 5px;
}

.stat-header p{
    color: white;
    font-size: 30px;
    text-shadow: 0px 1px #dbdcdd;
    padding: 0;
    
}

