.icon{
  position: relative;
  top: 10px;
  left: 70px;
  color: grey;
}
.fa-pencil-square-o{

   left: 80px;
}
.fa-line-chart{

   left: 90px;
}
.fa-times{

   left: 100px;
}
.icons{

  position: relative;
  left: 15px;
  bottom: 10px;

}
.suspend{

  border-bottom: 1px solid #D1D1D1;
  position: relative;
  top: 80px;

}
.responses{

  border-bottom: none;
   position: relative;
   top: 50px;

}
.survey-footer{

  position: relative;
  top: 100px;


}
.responses-word{

  position: relative;
  font-family: serif;
  font-weight: bold;
  top: 10px;
  left: 110px;


}
.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 24px;
  bottom: 10px;
  left: 125px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00cc44;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
